node_modules
.next/
.env
.env.local
.env.production
frontend/*/.env
frontend/*/.env.local
frontend/*/.env.production
services/*/.env
services/*/.env.local
services/*/.env.production
aws-task-definitions-updated.json
